html, body {
    height: 100%;
    margin: 0;
}

/*배경*/
#backGround {
    background: rgb(82, 29, 41);
    width: 100%;
    height: 100%;
}

/*상단 바*/
#topBar {
    padding: 1em;
    color: white;
    text-align: center;
    height: 12%;
}

#topBar h1 {
    margin: 0;
    font-size: 2.5em;
}

#menuButton {
    float: left;
}

#searchButton {
    float: right;
}

/*내용*/
#contents {
    text-align: center;
    height: 82%;
}

#contents > div {
    display: inline-block;
    width: 31%;
    height: 100%;
    margin: 0.5%;
    color: white;
}

#contents h1 {
    margin: 2%;
}

#contents section {
    height: 92%;
    overflow:scroll;
    background: white;
    color: black;
}

/*술 개별 article*/